<h1><%= @board.name %></h1>
<h4><%=link_to 'Add List', new_board_list_path(@board)%></h4>
<% @board.lists.each do |list| %>
  <p>
    <%=link_to list.name, board_list_path(@board, list) %> - 
    <%=link_to "Delete List", board_list_path(@board, list), method: :delete %> - 
    <%=link_to "Move Up", board_list_up_path(@board, list), method: :put %>
  
  </p>
<%end%>